<tr id="student_{{id}}">
  <th scope='row'>
    <div class='student'>
      {{>avatar}}
      <a href="{{analytics_url}}">{{name}}</a>
    </div>
  </th>
  <td><span class='sortable page_views'>{{pageViews}}</span></td>
  <td><span class='sortable participations'>{{participations}}</span></td>
  <td><span class='submissions'>{{submissions}}</span></td>
  <td><span class='on_time'>{{onTime}}</span></td>
  <td><span class='late'>{{late}}</span></td>
  <td><span class='missing'>{{missing}}</span></td>
  <td>
    <span class="sortable current_score">
      {{#if current_score}}
        {{current_score}}%
      {{else}}
        --
      {{/if}}
    </span>
  </td>
</tr>
