<div>
  <h2 class="screenreader-only">{{t "Graphs"}}</h2>
  <div class="grid-row end-xs">
    <div class="col-xs-2">
      <div class="AnalyticsToggle ic-Form-control">
        <label class="ic-Super-toggle--ui-switch" for="graph_table_toggle">
          <span class="screenreader-only">Toggle graph view or table view</span>
          <input type="checkbox" id="graph_table_toggle" class="ic-Super-toggle__input" aria-label="{{t "Switch to table view"}}">
          <div class="ic-Super-toggle__container" aria-hidden="true">
            <div class="ic-Super-toggle__option--LEFT">
              <i class="icon-stats"></i>
            </div>
            <div class="ic-Super-toggle__switch"></div>
            <div class="ic-Super-toggle__option--RIGHT">
              <i class="icon-table"></i>
            </div>
           </div>
         </label>
      </div>
    </div>
  </div>

  <div class="course_graphs">
    <div class="legend_row">
      <h3>{{t "Activity by Date"}}</h3>
      <div class="graph_legend" aria-hidden="true">
        <span class="legend_entry"><span class="legend_swatch page_views"></span>{{t "Page Views Only"}}</span>
        <span class="legend_entry"><span class="legend_swatch participation"></span>{{t "Participation"}}</span>
      </div>
    </div>
    <div class="graph" id="participating-graph" aria-hidden="true"/>
    <div id="activities-table" style="display:none"/>

    <div class="legend_row">
      <h3>{{t "Submissions"}}</h3>
      <div class="graph_legend" aria-hidden="true">
        <span class="legend_entry"><span class="legend_swatch missing"></span>{{t "Missing"}}</span>
        <span class="legend_entry"><span class="legend_swatch late"></span>{{t "Late"}}</span>
        <span class="legend_entry"><span class="legend_swatch onTime"></span>{{t "On Time"}}</span>
      </div>
    </div>
    <div class="graph" id="finishing-assignments-graph" aria-hidden="true"/>
    <div id="submissions-table" style="display:none"/>

    <div class="legend_row">
      <h3>{{t "Grades"}}</h3>
      <div class="graph_legend" aria-hidden="true">
        <span class="legend_entry"><span class="legend_swatch totalRange outlined"><span></span></span>{{t "Total Range"}}</span>
        <span class="legend_entry"><span class="legend_swatch pc25-75"></span>{{t "25th-75th Percentile"}}</span>
        <span class="legend_entry"><span class="legend_swatch median outlined"><span></span></span>{{t "Median"}}</span>
      </div>
    </div>
    <div class="graph" id="grades-graph" aria-hidden="true"/>
    <div id="grades-table" style="display:none"/>
  </div>

  <div id='students'>
    <table class='ic-Table ic-Table--hover-row'>
      <caption id="student_table_caption" class="screenreader-only">
        {{#t "student_summary.not_sorted"}}Student summary table{{/t}}
      </caption>
      <thead>
        <tr>
          <th scope='col' role='columnheader' class='student'><span class='sortable' data-sort_key='name'>{{t "Student"}}<span class="screenreader-only sort_text"> {{t "Sorted Ascending"}}</span></th>
          <th scope='col' role='columnheader'><span class='sortable' data-sort_key='page_views'>{{t "Page Views"}}</span></th>
          <th scope='col' role='columnheader'><span class='sortable' data-sort_key='participations'>{{t "Participations"}}</span></th>
          <th scope='col' role='columnheader'><span>{{t "Submissions"}}</span></th>
          <th scope='col' role='columnheader'><span>{{t "On Time"}}</span></th>
          <th scope='col' role='columnheader'><span>{{t "Late"}}</span></th>
          <th scope='col' role='columnheader'><span>{{t "Missing"}}</span></th>
          <th scope='col' role='columnheader'><span class='sortable' data-sort_key='score'>{{t "Current Score"}}</span></th>
        </tr>
      </thead>

      <tbody class='rows' />
    </table>
  </div>
</div>
