<table class='statistics'>
  <tr>
    <td class='courses_count'>{{courses}}</td>
    <td class='teachers_count'>{{teachers}}</td>
    <td class='students_count'>{{students}}</td>
    <td class='assignments_count'>{{assignments}}</td>
    <td class='topics_count'>{{discussion_topics}}</td>
    <td class='attachments_count'>{{attachments}}</td>
    <td class='media_count'>{{media_objects}}</td>
  </tr>
  <tr>
    <th>Courses</th>
    <th>Teachers</th>
    <th>Students</th>
    <th>Assignments</th>
    <th>Discussion Topics</th>
    <th>Files Uploaded</th>
    <th>Media Recordings</th>
  </tr>
</table>
