<table class='AnalyticsStats' role='presentation'>
  <tr>
    <td class='AnalyticsStats__Courses'>
      <div>
        <span class='AnalyticsStats__Count'>{{n courses}}</span>
        <br />
        <span class='AnalyticsStats__Label'>{{t "Courses"}}</span>
      </div>
    </td>
    <td class='AnalyticsStats__Teachers'>
      <div>
        <span class='AnalyticsStats__Count'>{{n teachers}}</span>
        <br />
        <span class='AnalyticsStats__Label'>{{t "Teachers"}}</span>
      </div>
    </td>
    <td class='AnalyticsStats__Students'>
      <div>
        <span class='AnalyticsStats__Count'>{{n students}}</span>
        <br />
        <span class='AnalyticsStats__Label'>{{t "Students"}}</span>
      </div>
    </td>
    <td class='AnalyticsStats__Assignments'>
      <div>
        <span class='AnalyticsStats__Count'>{{n assignments}}</span>
        <br />
        <span class='AnalyticsStats__Label'>{{t "Assignments"}}</span>
      </div>
    </td>
    <td class='AnalyticsStats__Topics'>
      <div>
        <span class='AnalyticsStats__Count'>{{n discussion_topics}}</span>
        <br />
        <span class='AnalyticsStats__Label'>{{t "Discussion Topics"}}</span>
      </div>
    </td>
    <td class='AnalyticsStats__Attachments'>
      <div>
        <span class='AnalyticsStats__Count'>{{n attachments}}</span>
        <br />
        <span class='AnalyticsStats__Label'>{{t "Files Uploaded"}}</span>
      </div>
    </td>
    <td class='AnalyticsStats__Media'>
      <div>
        <span class='AnalyticsStats__Count'>{{n media_objects}}</span>
        <br />
        <span class='AnalyticsStats__Label'>{{t "Media Recordings"}}</span>
      </div>
    </td>
  </tr>
  <tr>
  </tr>
</table>
