<div class="legend_row">
  <h3 class="h4">{{t "Activity by Date"}}</h3>
  <div class="graph_legend" aria-hidden="true">
    <span class="legend_entry"><span class="legend_swatch page_views"></span>{{t "Page Views Only"}}</span>
    <span class="legend_entry"><span class="legend_swatch participation"></span>{{t "Participation"}}</span>
  </div>
</div>
<div class="graph_container">
  <span class="screenreader-only" id="participating-date-graph-label">{{t "Graph of student page views and participation over time"}}</span>
  <div role="img" aria-labelledby="participating-date-graph-label">
    <div class="graph" id="participating-date-graph" aria-hidden="true"/>
  </div>
</div>
<div id="participating-date-table" style="display:none;"/>


<div class="legend_row">
  <h3 class="h4">{{t "Activity by Category"}}</h3>
</div>
<div class="graph_container">
  <span class="screenreader-only" id="participating-category-graph-label">{{t "Graph of student page views by category"}}</span>
  <div role="img" aria-labelledby="participating-category-graph-label">
    <div class="graph" id="participating-category-graph" aria-hidden="true"/>
  </div>
</div>
<div id="participating-category-table" style="display:none;"/>

<div class="legend_row">
  <h3 class="h4">{{t "Grade Distribution"}}</h3>
</div>
<div class="graph_container">
  <span class="screenreader-only" id="grade-distribution-graph-label">{{t "Graph of the distribution of grades in the department"}}</span>
  <div role="img" aria-labelledby="grade-distribution-graph-label">
    <div class="graph" id="grade-distribution-graph" aria-hidden="true"/>
  </div>
</div>
<div id="grade-distribution-table" style="display:none;"/>
