<table class='statistics'>
  <tr>
    <th>Courses</th>
    <th>Teachers</th>
    <th>Students</th>
    <th>Assignments</th>
    <th>Submissions</th>
    <th>Discussion Topics</th>
    <th>Discussion Replies</th>
    <th>Files Uploaded</th>
    <th>Media Recordings</th>
  </tr>
  <tr>
    <td>{{courses}}</td>
    <td>{{teachers}}</td>
    <td>{{students}}</td>
    <td>{{assignments}}</td>
    <td>{{submissions}}</td>
    <td>{{discussion_topics}}</td>
    <td>{{discussion_replies}}</td>
    <td>{{attachments}}</td>
    <td>{{media_objects}}</td>
  </tr>
</table>
