<div class="legend_row">
  <h3 class="h4">{{t "Activity by Date"}}</h3>
  <div class="graph_legend" aria-hidden="true">
    <span class="legend_entry"><span class="legend_swatch page_views"></span>{{t "Page Views Only"}}</span>
    <span class="legend_entry"><span class="legend_swatch participation"></span>{{t "Participation"}}</span>
  </div>
</div>
<div class="graph" id="participating-date-graph" aria-hidden="true"/>
<div id="participating-date-table" style="display:none;"/>


<div class="legend_row">
  <h3 class="h4">{{t "Activity by Category"}}</h3>
</div>
<div class="graph" id="participating-category-graph" aria-hidden="true"/>
<div id="participating-category-table" style="display:none;"/>

<div class="legend_row">
  <h3 class="h4">{{t "Grade Distribution"}}</h3>
</div>
<div class="graph" id="grade-distribution-graph" aria-hidden="true"/>
<div id="grade-distribution-table" style="display:none;"/>
