<table class='statistics'>
  <tr>
    <td class='courses_count'>{{courses}}</td>
    <td class='teachers_count'>{{teachers}}</td>
    <td class='students_count'>{{students}}</td>
    <td class='assignments_count'>{{assignments}}</td>
    <td class='topics_count'>{{discussion_topics}}</td>
    <td class='attachments_count'>{{attachments}}</td>
    <td class='media_count'>{{media_objects}}</td>
  </tr>
  <tr>
    <th>{{t "Courses"}}</th>
    <th>{{t "Teachers"}}</th>
    <th>{{t "Students"}}</th>
    <th>{{t "Assignments"}}</th>
    <th>{{t "Discussion Topics"}}</th>
    <th>{{t "Files Uploaded"}}</th>
    <th>{{t "Media Recordings"}}</th>
  </tr>
</table>
