<div class="student_summary">
  <img class="avatar" src="{{student.avatar_url}}" />
  <h2>
    <span class="student_link"><a href="{{student.html_url}}">{{student.name}}</a>, </span>
    <a class="course_link" href="{{course.analytics_url}}">{{course.name}}</a>
  </h2>
  <table>
    <tr>
      <th>Current Total:</th>
      <td class="current_score">{{student.current_score}}%</td>
    </tr>
    <!--<tr>
      <th>Status:</th>
      <td class="status_green">Low Risk</td>
    </tr>-->
  </table>
</div>

<table class="student_graphs">
  <tr>
    <td>
      <h4>
        <span class="graph_name">Activity</span>
        <!-- <span class="qualifier status_green">Active</span> -->
      </h4>
      <p class="description">
        Each bar represents the number of page views on that day. A blue bar
        indicates that the student took some action within the course on that
        day.
      </p>
    </td>
    <td><div class="graph" id="participating-graph"/></td>
  </tr>
  <tr>
    <td>
      <h4>
        <span class="graph_name">Communication</span>
        <!-- <span class="qualifier status_red">Responsive</span> -->
      </h4>
      <p class="description">
        The top track represents days on which the student sent messages to
        course instructors. The bottom track is for messages from the
        instructors to the student.
      </p>
    </td>
    <td><div class="graph" id="responsiveness-graph"/></td>
  </tr>
  <tr>
    <td>
      <h4>
        <span class="graph_name">Assignments</span>
        <!-- <span class="qualifier status_green">On Time</span> -->
      </h4>
      <p class="description">
        Each row is one assignment. The diamond is the due date and the bar
        extends to the submission date. Green indicates an on time submission,
        yellow a late submission, and red a missed assignment. Gray diamonds
        are assignments without due dates, placed at the time of submission.
      </p>
    </td>
    <td><div class="graph" id="assignment-finishing-graph"/></td>
  </tr>
  <tr>
    <td>
      <h4>
        <span class="graph_name">Grades</span>
        <!-- <span class="qualifier status_yellow">Fair</span> -->
      </h4>
      <p class="description">
        Each bar is one assignment. The thin whisker extends from the lowest
        score for any student in the course to the highest score. The wider bar
        extends from the 25th percentile to the 75th, with the median marked.
        The student's score is marked with a dot.
      </p>
    </td>
    <td><div class="graph" id="grades-graph"/></td>
  </tr>
</table>
