<div class="student_summary">
  {{>avatar student}}

  <div id="course_info">
    <h3><a class="course_link" href="{{course.url}}">{{course.name}}</a></h3>
    <div class='students_box' />
  </div>

  <div>
    <h2><a class="student_link" href="{{student.html_url}}">{{student.name}}</a></h2>
    <table>
      <tr>
        <th>{{t "Current Total:"}}</th>
        <td class="current_score">{{student.current_score}}%</td>
        <td class="message_student">
          <a href="{{student.message_student_url}}"
             class="message_student_link"
             title="{{t "Message this student"}}">
            <img src="/images/email.png" alt="" />
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="student_graphs">
  <div class="legend_row">
    <h4>{{t "Activity by Date"}}</h4>
    <div class="graph_legend" aria-hidden="true">
      <span class="legend_entry"><span class="legend_swatch page_views"></span>{{t "Page Views Only"}}</span>
      <span class="legend_entry"><span class="legend_swatch participation"></span>{{t "Participation"}}</span>
    </div>
  </div>
  <div class="graph" id="participating-graph" aria-hidden="true"/>

  <div class="legend_row">
    <h4>{{t "Communication"}}</h4>
    <div class="graph_legend" aria-hidden="true">
      <span class="legend_entry"><span class="legend_swatch student"></span>{{t "Student"}}</span>
      <span class="legend_entry"><span class="legend_swatch instructors"></span>{{t "Instructors"}}</span>
    </div>
  </div>
  <div class="graph" id="responsiveness-graph" aria-hidden="true"/>

  <div class="legend_row">
    <h4>{{t "Submissions"}}</h4>
    <div class="graph_legend" aria-hidden="true">
      <span class="legend_entry"><span class="legend_swatch onTime"></span>{{t "On Time"}}</span>
      <span class="legend_entry"><span class="legend_swatch late"></span>{{t "Late"}}</span>
      <span class="legend_entry"><span class="legend_swatch missing"></span>{{t "Missing"}}</span>
    </div>
  </div>
  <div class="graph" id="assignment-finishing-graph" aria-hidden="true"/>

  <div class="legend_row">
    <h4>{{t "Grades"}}</h4>
    <div class="graph_legend" aria-hidden="true">
      <span class="legend_entry"><span class="legend_swatch sa totalRange outlined"><span></span></span>{{t "Total Range"}}</span>
      <span class="legend_entry"><span class="legend_swatch sa pc25-75"></span>{{t "25th-75th Percentile"}}</span>
      <span class="legend_entry"><span class="legend_swatch sa median outlined"><span></span></span>{{t "Median"}}</span>
      <span class="legend_entry"><span class="legend_swatch sa dot goodScore"><span></span></span>{{t "Good Score"}}</span>
      <span class="legend_entry"><span class="legend_swatch sa dot fairScore"><span></span></span>{{t "Fair Score"}}</span>
      <span class="legend_entry"><span class="legend_swatch sa dot poorScore"><span></span></span>{{t "Poor Score"}}</span>
    </div>
  </div>
  <div class="graph" id="grades-graph" aria-hidden="true"/>

</div>
