<div class="profile_picture"><img src="{{user.avatar_url}}"/></div>

<h2><a href="{{user.html_url}}">{{user.name}}</a>, <a href="{{course.html_url}}">{{course.name}}</a></h2>

<h3 class="user_summary">Current Total: {{user.current_score}}</h3>

<table class="user_graphs">
<tr><th>Participating</th><td><div id="participating-graph"/></td></tr>
<tr><th>Responsiveness</th><td><div id="responsiveness-graph"/></td></tr>
<tr><th>Finishing Assignments</th><td><div id="assignment-finishing-graph"/></td></tr>
<tr><th>Grades</th><td><div id="grades-graph"/></td></tr>
</table>
